/*menu*/
#checkbox-1:checked ~ .pos-menu .background-menu{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}
/*l-btn1*/
#checkbox-1:checked ~ .l-btn1{
	box-shadow: none;
}
#checkbox-1:checked ~ .l-btn1 span:nth-child(1){
	transform: rotate(-45deg);
	top: 45%;
}
#checkbox-1:checked ~ .l-btn1 span:nth-child(2){
	opacity: 0;
}
#checkbox-1:checked ~ .l-btn1 span:nth-child(3){
	transform: rotate(45deg);
	top: 45%;
}
/*l-btn2*/
#checkbox-1:checked ~ .l-btn2{
    clip-path: polygon(0 0, 67% 0, 100% 100%, 0% 100%);
}