html{
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(53,56,57,1) 50%);
}
body{
	font-family: 'Hind Guntur', sans-serif;
}
/*menu*/
.background-menu{
	background: #fff;
	transition: 0.25s ease-in-out;
}
.shadow-menu{
	filter: drop-shadow(-5px 10px 7px rgba(0, 0, 0, 1));
}
/*l-btn1*/
.l-btn1{
	cursor: pointer;
	background: #fff;
	border-radius: 50px;
	box-shadow: 2px 5px 5px black;/* ,inset 0 0 1em gold ; sombra interna iset*/
}
.l-btn1 span{
	display: block;
	border-radius: 30px;
	background:rgba(53,56,57,1);
	transition: 0.25s ease-in-out;
	box-shadow: inset 0 0 1em rgba(2,0,36,1);
	cursor: pointer;
}
/*l-btn2*/
.l-btn2{
	cursor: pointer;
	background: blue;
	opacity: 0;
}